.capture-form {
    width: 30rem;
    margin: 200px auto;
    max-width: 80%;
  }
  
  .form-control label,
  .form-control input {
    display: block;
    width: 100%;
  }
  
  .form-control input {
    font: inherit;
    padding: 0.1rem 0.25rem;
    border: none;
    border-bottom: 2px solid #ccc;
    margin-bottom: 1rem;
  }
  
  .form-control input:focus {
    outline: none;
    border-bottom-color: #062b66;
  }
  
  .capture-form__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dob-form {
    display: flex;
  }
  .dob-form input {
    display: block;
    width: 90px;
    float: left;
    font-size: 1.1em;
    line-height: 1.25;
    margin: 10px 5px 13px 0px;
    height: 40px;
    padding: 10px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 10px;
  }

  .select-form {
    font-size: 1em;
    height: 30px;
    margin: 10px 0 20px;
  }

  .dob-main {
    margin-top: 25px !important;
  }

  @media screen and (min-width: 321px) and (max-width: 375px) {
    .dob-main {
      width: 79px !important;
    }
}

@media screen and (max-width: 320px) {
  .dob-main {
    width: 68px !important;
  }
}

@media screen and (max-width: 280px) {
  .dob-main {
    width: 57px !important;
  }
}