.toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:#062b66;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    color: white;
  }
  
  .toolbar h1 {
    margin-left: 45%;
  }

@media screen and (min-width: 321px) and (max-width: 410px) {
  .toolbar h1 {
    margin-left: 19%;
  }
}

@media screen and (max-width: 280px) {
  .toolbar h1 {
    margin-left: 9%;
  }
}

@media screen and (max-width: 320px) {
  .toolbar h1 {
    margin-left: 15%;
  }
}

 @media screen and (min-width: 411px) and (max-width: 538px) {
  .toolbar h1 {
    margin-left: 25%;
  }
} 

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .toolbar h1 {
    margin-left: 38%;
  }
}

@media screen and (min-width: 539px) and (max-width: 540px) {
  .toolbar h1 {
    margin-left: 28%;
  }
}