@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

button {
  font: inherit;
  background: #062b66;
  padding: 0.5rem 2rem;
  color: white;
  border: 1px solid #062b66;
  margin: 0.5rem 0;
  border-radius: 5px;
  cursor: pointer;
  height: 60px;
}

button:hover,
button:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
}

button:focus {
  outline: none;
}

.caution {
	display: block;
  position: relative;
  width: 0; 
	height: 0; 
  border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 22px solid white;
}
.caution:before {
	position: absolute;
  content: "!";
  z-index: 2;
  top: 6px;
  left: -2px;
  margin-top: -5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  
}
.caution:after {
  position: absolute;
  z-index: 1;
  content: "";
  width: 0; 
	height: 0; 
  left: -11px;
  top: 0;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 18px solid red;
}

.caution span {
  padding-left: 20px;
  white-space: nowrap;
  color: red;
}
